* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* flexbox container */
#container {
  display: flex;
  flex-direction: reverse;
  flex-wrap: wrap;
  min-width: 450px;
}

/* navbar styles */
#navbar {
  border-right: 2px solid black;
  background-color: rgb(236, 236, 236);
  height: 100%;
  width: 325px;
  position: fixed;
  top: 0;
  left: 0;
}

nav > h1 {
  text-align: center;
}

nav > ul {
  line-height: 3em;
  padding-inline-start: 0;
}

nav > ul > li {
  list-style: none;
  font-size: 1em;
  border-bottom: 1px solid black;
  padding-left: 15px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

/* general styles */
body {
  background-color: rgb(236, 236, 236);
  font-size: 1.25em;
  font-family: arial, Arial, Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
}

main {
  margin-left: 375px;
  margin-right: 50px;
}

#spaced-list {
  line-height: 2em;
}

.code-box {
  background-color: rgb(197, 202, 212);
  border: 1px solid rgb(156, 155, 155);
  padding: 10px 5px;
  margin: 10px;
  border-radius: 5px;
}

#footer {
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

#footer > a:hover {
  color: blue;
}

/* moves navbar to center screen on mobile */
@media (max-width: 700px) {
  #navbar {
    border-bottom: 2px solid black;
    border-right: none;
    width: 100%;
    position: relative;
    text-align: center;
  }

  nav > ul > li:last-of-type {
  border-bottom: none;
}

  #main-doc {
    margin: auto 5vw;
  }
}